.student-dashboard{
  padding: 80px 0;
  text-align: center;
  min-height: 55vh;
  background-color: #f5f5f5;

  .dashboard-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
  }
}