.lecture-page{
  display: flex;
  justify-content: space-between;
  min-height: 50vh;
  background-color: #f5f5f5;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left{
    width: 70%;
    padding: 10px;
    align-items: center;

    @media (max-width: 768px){
      width: 90%;
    }
  }

  .right {
    width: 30%;

    .lecture-form {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: auto;
      transition: 0.5s;

      h2{
        font-size: 24px;
        color: #5603AD;
        margin-bottom: 15px;
      }

      &:hover{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
      }

      form {
        text-align: left;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
          color: #333;
        }

        input {
          width: 92%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid black;
          border-radius: 5px;
        }
      }
    }

    @media (max-width: 768px){
      width: 80%;
      margin-bottom: 10px;
    }

    .lecture-number{
      background-color: #fff;
      padding: 10px;
      border: 1px solid black;
      margin-top: 10px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      
      &:hover{
        background-color: #5603AD;
        color: white;
      }

    }

    .active{
      background-color: #5603AD;
      color: white;
    }
  }
}

.progress{
  width: 20%;
  border: 1px solid black;
  padding: 6px;
  border: 5px;
  background-color: #5603AD;
  border-radius: 10px;
  margin: 3px auto;
  text-align: center;
  color: white;
  
}