.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .box{
    margin-left: 20px;
    background-color: #5603AD;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover{
      background-color: #432456;
    }
  }
}