header{
  display: flex;
  gap: 10px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;

  .logo{
    font-size: 25px;
    font-weight: 600;
    color: #5603AD;

    @media (max-width: 768px){
      font-size: 18px;
    }
  }

  .link{
    display: flex;
    @media (max-width: 768px){
      gap: 0.5rem
    }

    a{
      height: 100%;
      padding: 20px;
      text-decoration: none;
      color: #333;
      transition: 0.3s;
      
      &:hover{
        background-color: #5603AD;
        color: white;
        
      }
    }
  }

}



